In [2]:
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
action=pd.read_csv("ActionMovies.csv",index_col=0)#read csv
action .head() # show dataframe first five

,name,story,genre
0,1. Gladiator II,After his home is conquered by the tyrannical ...,Action
1,2. Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",Action
2,3. Pushpa: The Rule - Part 2,A smuggling kingpin faces off against a vengef...,Action
3,4. Kraven the Hunter,Kraven's complex relationship with his ruthles...,Action
4,5. Dune: Part Two,Paul Atreides unites with the Fremen while on ...,Action

In [ ]:
action.shape # shape of data

(1083, 3)

In [ ]:
crime=pd.read_csv("CrimeMovies.csv",index_col=0)# read csv
crime.head()

,name,story,genre
0,1. Emilia Pérez,Emilia Pérez follows four remarkable women in ...,Crime
1,2. Babygirl,A high-powered CEO puts her career and family ...,Crime
2,3. Pushpa: The Rule - Part 2,A smuggling kingpin faces off against a vengef...,Crime
3,4. Juror #2,While serving as a juror in a high-profile mur...,Crime
4,5. The Calendar Killer,Klara is going to die today unless she kills h...,Crime

In [6]:
crime.shape

(826, 3)

In [ ]:
action_crime=pd.concat([action,crime]) # concat first action and crime
action_crime

,name,story,genre
0,1. Gladiator II,After his home is conquered by the tyrannical ...,Action
1,2. Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",Action
2,3. Pushpa: The Rule - Part 2,A smuggling kingpin faces off against a vengef...,Action
3,4. Kraven the Hunter,Kraven's complex relationship with his ruthles...,Action
4,5. Dune: Part Two,Paul Atreides unites with the Fremen while on ...,Action
...,...,...,...
821,822. Detective Toaster,Picture me Roll'n is a movie about a Jamaican ...,Crime
822,823. Your Curse,"If you are a killer, you will stay and if you ...",Crime
823,824. Tres Cruces,Faith has always been a guiding light for the ...,Crime
824,825. Kaçkin,Weg Naar Zee... a beautiful village located at...,Crime
825,826. Atithi,"A solitary man, immersed in his everyday life ...",Crime

In [ ]:
comedy=pd.read_csv("ComedyMovies.csv",index_col=0) # read csv
comedy.head()

,name,story,genre
0,1. Emilia Pérez,Emilia Pérez follows four remarkable women in ...,Comedy
1,2. Anora,A young escort from Brooklyn meets and impulsi...,Comedy
2,3. A Real Pain,Mismatched cousins reunite for a tour through ...,Comedy
3,4. Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",Comedy
4,5. A Different Man,An aspiring actor undergoes a radical medical ...,Comedy

In [ ]:
action_crime_comedy=pd.concat([action_crime,comedy])
# concat action_crime_comedy

In [ ]:
horror=pd.read_csv("HorrorMovies.csv",index_col=0) # read csv
horror.head()

,name,story,genre
0,1. Nosferatu,A gothic tale of obsession between a haunted y...,Horror
1,2. The Substance,A fading celebrity takes a black-market drug: ...,Horror
2,3. Alien: Romulus,While scavenging the deep ends of a derelict s...,Horror
3,4. Presence,A family becomes convinced they are not alone ...,Horror
4,5. Heretic,Two young religious women are drawn into a gam...,Horror

In [ ]:
action_crime_comedy_horror=pd.concat([action_crime_comedy,horror]) # concat action_crime_comedy_horror

In [ ]:
fantansy=pd.read_csv("FantansyMovies.csv",index_col=0) # read csv
fantansy.head()

,name,story,genre
0,1. Nosferatu,A gothic tale of obsession between a haunted y...,Fantansy
1,2. Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",Fantansy
2,3. Wicked,"Elphaba, a misunderstood young woman because o...",Fantansy
3,4. Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...",Fantansy
4,5. Better Man,"The meteoric rise, dramatic fall, and remarkab...",Fantansy

In [ ]:
# concat action_crime_comedy_horror_fantansy
action_crime_comedy_horror_fantansy=pd.concat([action_crime_comedy_horror,fantansy],ignore_index=True)

In [ ]:
csv_files=action_crime_comedy_horror_fantansy # store action_crime_comedy_horror_fantansy to other variable for easy useablity
csv_files.shape

(6230, 3)

## Text Cleaning:

In [ ]:
# Remove leading numbers followed by a dot and optional spaces from the 'name' column  
csv_files["name"]=csv_files['name'].str.replace(r"^\d+\.\s*", "", regex=True)

In [16]:
import string
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [17]:
def punctuation(text):
    return text.lower()

In [ ]:
# Remove patterns where a single character is followed by a dot and space (e.g., "A. ")   
csv_files['story'] = csv_files['story'].str.replace(r"\w\.\s", "", regex=True)  

# Remove parentheses (), square brackets [], and their contents from the text  
csv_files['story'] = csv_files['story'].str.replace(r"[\(\)\[\]]", "", regex=True)  

# Remove all punctuation characters from the text using `str.translate`  
csv_files['story'] = csv_files['story'].str.translate(str.maketrans("", "", string.punctuation))

In [ ]:
# Apply the `punctuation` function to clean or process punctuation further 
csv_files['story'] = csv_files['story'].apply(punctuation)

In [ ]:
csv_files=csv_files.drop(columns=['genre']) # Removing  the genre

In [ ]:
csv_files.to_csv("original file.csv") # saving the file after cleaning

In [22]:
csv_files

,name,story
0,Gladiator II,after his home is conquered by the tyrannical ...
1,Sonic the Hedgehog 3,sonic knuckles and tails reunite against a pow...
2,Pushpa: The Rule - Part 2,a smuggling kingpin faces off against a vengef...
3,Kraven the Hunter,kravens complex relationship with his ruthless...
4,Dune: Part Two,paul atreides unites with the fremen while on ...
...,...,...
6225,I am Pandora,its the day of the dead and diego the cutest s...
6226,Les Écorchés - Partie 1,olaneyes parents present her with a strange bi...
6227,Four Walls,colos and the rest of the dke must work to sto...
6228,Kamilota,iszu edwin lopez ring leader of the tennis te...
6229,Lo chiamavano Marcus,elder ikechukwu uses his superpower to repeate...

In [ ]:
def token_stop_word(text):  
    # Tokenize the input text into individual words
    token_word = word_tokenize(text)  

    # Get the set of English stopwords from NLTK
    stop_words = set(stopwords.words("english"))  

    swap = []  # Create an empty list to store words after stopword removal

    for i in token_word:  # Iterate through each tokenized word
        if i not in stop_words:  # Check if the word is not in the stopwords list
            swap.append(i)  # Add the word to the new list if it's not a stopword

    return swap  # Return the list of words without stopwords

In [ ]:
# Apply the 'token_stop_word' function to each value in the 'story' column
csv_files['tokenized_stopwords_removed'] = csv_files['story'].apply(token_stop_word)

In [22]:
csv_files

,name,story,genre,tokenized_stopwords_removed
0,Gladiator II,after his home is conquered by the tyrannical ...,Action,"[home, conquered, tyrannical, emperors, lead, ..."
1,Sonic the Hedgehog 3,sonic knuckles and tails reunite against a pow...,Action,"[sonic, knuckles, tails, reunite, powerful, ne..."
2,Pushpa: The Rule - Part 2,a smuggling kingpin faces off against a vengef...,Action,"[smuggling, kingpin, faces, vengeful, rival, e..."
3,Kraven the Hunter,kravens complex relationship with his ruthless...,Action,"[kravens, complex, relationship, ruthless, fat..."
4,Dune: Part Two,paul atreides unites with the fremen while on ...,Action,"[paul, atreides, unites, fremen, warpath, reve..."
...,...,...,...,...
6225,I am Pandora,its the day of the dead and diego the cutest s...,Fantansy,"[day, dead, diego, cutest, skeleton, underworl..."
6226,Les Écorchés - Partie 1,olaneyes parents present her with a strange bi...,Fantansy,"[olaneyes, parents, present, strange, bird, 21..."
6227,Four Walls,colos and the rest of the dke must work to sto...,Fantansy,"[colos, rest, dke, must, work, stop, darth, av..."
6228,Kamilota,iszu edwin lopez ring leader of the tennis te...,Fantansy,"[iszu, edwin, lopez, ring, leader, tennis, tea..."
6229,Lo chiamavano Marcus,elder ikechukwu uses his superpower to repeate...,Fantansy,"[elder, ikechukwu, uses, superpower, repeatedl..."

In [ ]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()  # Initialize the Porter Stemmer

stems = []  # Create an empty list to store stemmed words

for i in csv_files['tokenized_stopwords_removed']:  # Iterate through each tokenized sentence in the column
    stemmers = [stemmer.stem(j) for j in i]  # Apply stemming to each word in the sentence
    stems.append(" ".join(stemmers))  # Join the stemmed words back into a single string

csv_files['stemmedword'] = stems  # Store the processed stemmed words in a new column

In [24]:
stems[0]

'home conquer tyrann emperor lead rome luciu forc enter colosseum must look past find strength return glori rome peopl'

In [25]:
print(csv_files['stemmedword'].head())

0    home conquer tyrann emperor lead rome luciu fo...
1    sonic knuckl tail reunit power new adversari s...
2    smuggl kingpin face veng rival expand empirh m...
3    kraven complex relationship ruthless father ni...
4    paul atreid unit fremen warpath reveng conspir...
Name: stemmedword, dtype: object

## Text Representation:

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer


# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Apply TF-IDF transformation on the 'stemmedword' column of csv_files
X_tfidf = tfidf_vectorizer.fit_transform(csv_files['stemmedword'])

# Print the shape of the resulting TF-IDF matrix
print("TF-IDF Shape:", X_tfidf.shape)  # Output dimensions (rows: number of documents, columns: unique words)

TF-IDF Shape: (6230, 19335)

In [27]:

from sklearn.decomposition import PCA

# Convert sparse TF-IDF to dense format
X_tfidf_dense = X_tfidf.toarray()

# Apply PCA (Reduce to 2D for visualization)
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_tfidf_dense)

# Check new shape
print("PCA Transformed Shape:", X_pca.shape)  # (num_samples, 2)

PCA Transformed Shape: (6230, 2)

In [28]:
X_pca

array([[ 0.01411344, -0.02804454],
       [ 0.06070183, -0.0241635 ],
       [ 0.01544965,  0.00155689],
       ...,
       [ 0.02395299, -0.00553387],
       [ 0.02430973,  0.01115343],
       [ 0.01595784,  0.03756111]])

In [29]:
# TF-IDF VECTORIZER
# tfidf_vectorizer = TfidfVectorizer()
# TF_vector=[]
# for i in csv_files['stemmedword']:
#     X_tfidf = tfidf_vectorizer.fit_transform(i)
#     TF_vector.append(X_tfidf)

## Cosine Similarity:

In [ ]:
consine_sim=cosine_similarity(X_pca,X_pca) # check similarity

In [31]:
storynames=csv_files['story']

In [34]:
consine_sim

array([[ 1.        ,  0.74802781,  0.35770791, ...,  0.63907262,
         0.03608511, -0.64636248],
       [ 0.74802781,  1.        ,  0.88733031, ...,  0.98850147,
         0.69022781,  0.02290134],
       [ 0.35770791,  0.88733031,  1.        , ...,  0.94685603,
         0.94613327,  0.48133449],
       ...,
       [ 0.63907262,  0.98850147,  0.94685603, ...,  1.        ,
         0.79170648,  0.1738096 ],
       [ 0.03608511,  0.69022781,  0.94613327, ...,  0.79170648,
         1.        ,  0.73920949],
       [-0.64636248,  0.02290134,  0.48133449, ...,  0.1738096 ,
         0.73920949,  1.        ]])

In [38]:
complete=pd.DataFrame(consine_sim,index=csv_files['name'],columns=csv_files['name'])

In [40]:
complete

name,Gladiator II,Sonic the Hedgehog 3,Pushpa: The Rule - Part 2,Kraven the Hunter,Dune: Part Two,Carry-On,Civil War,Deadpool & Wolverine,Marco,The Fall Guy,...,"Mom, I'm on Drugs",The Killer Goldfish,Madeline & Silverfrost,The Process of Change,Young doctor's notes,I am Pandora,Les Écorchés - Partie 1,Four Walls,Kamilota,Lo chiamavano Marcus
name,,,,,,,,,,,,,,,,,,,,,
Gladiator II,1.000000,0.748028,0.357708,0.939973,0.195724,0.823896,-0.924125,-0.992224,0.908533,-0.044702,...,-0.931388,-0.870419,0.536341,0.301395,-0.094608,-0.996139,0.000186,0.639073,0.036085,-0.646362
Sonic the Hedgehog 3,0.748028,1.000000,0.887330,0.476650,-0.504424,0.992425,-0.437691,-0.659607,0.402320,-0.696442,...,-0.455111,-0.977829,0.961334,-0.407354,-0.731460,-0.803404,-0.663528,0.988501,0.690228,0.022901
Pushpa: The Rule - Part 2,0.357708,0.887330,1.000000,0.017566,-0.845760,0.823955,0.026242,-0.238696,-0.065178,-0.948890,...,0.006777,-0.771093,0.980010,-0.782598,-0.963487,-0.438310,-0.933767,0.946856,0.946133,0.481334
Kraven the Hunter,0.939973,0.476650,0.017566,1.000000,0.518625,0.581041,-0.999040,-0.975137,0.996575,0.298890,...,-0.999704,-0.650169,0.216131,0.608684,0.250790,-0.906384,0.341424,0.338240,-0.307108,-0.867947
Dune: Part Two,0.195724,-0.504424,-0.845760,0.518625,1.000000,-0.394522,-0.555574,-0.316261,0.587553,0.970929,...,-0.539283,0.312427,-0.722703,0.994048,0.957743,-0.108874,0.980695,-0.629188,-0.972958,-0.874782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
I am Pandora,-0.996139,-0.803404,-0.438310,-0.906384,-0.108874,-0.870471,0.887012,0.977466,-0.868345,0.132233,...,0.895833,0.910279,-0.608367,-0.216522,0.181641,1.000000,0.087607,-0.704130,-0.123681,0.576879
Les Écorchés - Partie 1,0.000186,-0.663528,-0.933767,0.341424,0.980695,-0.566587,-0.382262,-0.124651,0.417982,0.998992,...,-0.364202,0.492149,-0.843901,0.953555,0.995497,0.087607,1.000000,-0.769027,-0.999342,-0.763151
Four Walls,0.639073,0.988501,0.946856,0.338240,-0.629188,0.962436,-0.296700,-0.538370,0.259260,-0.796945,...,-0.315234,-0.934921,0.991921,-0.540767,-0.826158,-0.704130,-0.769027,1.000000,0.791706,0.173810
Kamilota,0.036085,0.690228,0.946133,-0.307108,-0.972958,0.596102,0.348494,0.088580,-0.384756,-0.999963,...,0.330182,-0.523400,0.862806,-0.942002,-0.998280,-0.123681,-0.999342,0.791706,1.000000,0.739209
Lo chiamavano Marcus,-0.646362,0.022901,0.481334,-0.867947,-0.874782,-0.100096,0.888866,0.736308,-0.906045,-0.733374,...,0.879779,0.186958,0.297328,-0.922360,-0.698457,0.576879,-0.763151,0.173810,0.739209,1.000000

In [ ]:
cleaned_data=pd.DataFrame(csv_files[['name','stemmedword']])# creata dataframe for celaned data

In [ ]:
cleaned_data.to_csv("cleaned_data.csv") # save as csv